<h1>{{ recipe.title }}</h1>
<p>{{ recipe.description }}</p>
<h2>Ингредиенты:</h2>
<ul>
    {% for ingredient in ingredients %}
        <li>
            {{ ingredient.name }}: {{ ingredient.quantity }} {{ ingredient.get_unit_display }}
            {% if ingredient.is_optional %} (по желанию) {% endif %}
            {% if ingredient.notes %} - {{ ingredient.notes }} {% endif %}
        </li>
    {% endfor %}
</ul>
<p>Общее количество калорий: {{ total_calories }}</p>
<a href="{% url 'add_ingredient' recipe.id %}">Добавить ингредиент</a>
